<%- include('partials/header.ejs') %>

<div class="main-container flex-col">
    <div id="dealer" class="hand row container flex">
        <div class="card <%= cardFill %>"></div>
        <div class="card <%= cardFill %>"></div>
    </div>
    <div class="divider row container flex"></div> 
    <div id="player" class="hand row container flex">
        <div class="card <%= cardFill %>"></div>
        <div class="card <%= cardFill %>"></div>        
    </div>
</div>

<script>

</script>

<%- include('partials/footer.ejs') %>
