
<%- include('partials/header.ejs') %>

<div class="main-container flex-col">
    <% if (locals.participants !== '') { %>
        
        <% participants.forEach(p => { %>
            <div id="<%= p.who %>" class="row container flex-col">
                <h2 class="section label"><%= p.who.charAt(0).toUpperCase() + p.who.slice(1) %></h2>
                
                <div class="hand flex">
                    <div class="hand-group flex">
                    <% if (p.cards.length === 0) { %>

                            <div class="card stack empty"></div>
                            <div class="card stack empty"></div>
                    
                    <% } else { %>

                        <% p.cards.forEach(card => { %>
                            <% let img = card.image; %>
                            <% let altText = `${card.value} of ${card.suit}`; %>
                            <% let tag = ''; %>

                            <% if (!card.dealt) { tag = ' new'; } %>
                            <% if (card.show === 'down') { %>
                                <% if (showAllCards === true) { %>
                                    <script> 
                                        const dcImage = "<%- img %>";
                                        const dcAltText = "<%- altText %>";
                                    </script>
                                <% } %>
                                <% img = cardBack; altText = 'face down'; id = 'd1' %>
                            <% } %>
                            
                            <div class="card stack<%= tag %>">
                                <img id="<%= id %>" src="<%= img %>" style="object-fit: contain" alt="Playing card, <%= altText %>"></img> 
                            </div>

                        <% }); %>
                    <% } %>
                    </div>
                </div>
            </div>
        <% }); %>

    <% } else { %>
        <div id="dealer" class="row container flex-col">
            <h2 class="section label">Dealer</h2>
                <div class="hand flex">
                    <div class="hand-group flex">
                    <div id="d1" class="card stack empty"></div>
                    <div id="d2" class="card stack empty"></div>
                </div>
            </div>
        </div>
        <div id="player" class="row container flex-col">
            <h2 class="section label">Player</h2>
            <div class="hand flex">
                <div class="hand-group flex">
                    <div id="p1" class="card stack empty"></div>
                    <div id="p2" class="card stack empty"></div>
                </div>
            </div>
        </div>
    <% } %>
</div>

<div id="player-options" class="sticky footer container flex">
    <form action="/player-move" method="POST" class="flex">           
        <button id="hit" class="btn move" name="move" type="submit" value="hit" aria-label="Hit">Hit</button>
    
        <button id="stay" class="btn move" name="move" type="submit" value="stay" aria-label="Stay">Stay</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>
